/* Classes and IDs */
.tbl {
	height:80%;
	width:95%;
	border:2px dashed black;
	padding:10px;
	display:table;
}

.tblcell {
	height:32%;
	width:49%;
	display:inline-block;
	border-width:2px;
	border-bottom:solid black;
	text-align:center;
}

.navbar {
		font-family: serif;
		text-align:center;
		position:relative;
		font-size: clamp(0.8rem, 1.5rem, 2rem);
		margin: 0;
		padding-bottom: 1vw;
	}
#title {
	text-align:center;
}

.pdf {
	width:100%;
	height:80%;
}



.line {
	position:absolute;
	left:10%;
	top: 0;
	bottom: 0;
	margin:auto;
	height: 2px;
	width: 80%;
	background-color:black;
	transform-origin: 0.5em 0;
}
.line1 {
	opacity: 1; 
	transform: translateY(-1.3em);
}

.line2 {
	opacity: 1;
	transform: translateY(1em);
}

.content {
	border:5px outset black;
	height:30rem;
	width:40em;
	background:lightpink;
	margin:auto;
	clear:both;
	padding:20px;
	display:block
}

.footer {
	position:absolute;
	bottom:0;
	color:black;
	font-family:serif;
	clear:both;
	height:1.8rem;
	font-size:1rem;
	width:100%;
	background:lightgray;
	padding:0.2rem;
	border-top: 2px dotted black;
}

#footerdeco {
	float:right;
	height:34px;
	width:81px;
	clear:both;
}

/* Link Styling */

a:link {
	color:darkgreen;
}
a:visited {
	color:darkgreen;
}
a:hover {
	color:lightgreen;
}
a:active {
	color: green;
}

/* Tag Styling */
header {
	width:100%;
	

}

body {
	background-image:url("bg.png");
	background-size:100px 100px;;
	background-repeat:repeat;
}
menu, menu.ul {
	  display:flex;
	  list-style: none;
	  text-align:center;
	  padding: 0;
	  position:relative;
  }
li {
	flex-grow:1;
}
